:root {
  --main-bg-color: #8CDE56;
}

a {
  text-decoration: none !important;
}


.c-padding-xs {
  padding: 0.5rem;
}
.c-padding-sm {
  padding: 1rem;
}

.c-padding-bottom-xs {
  padding-bottom: 0.5rem;
}

.c-margin-top-md {
  margin-top: 3rem;
}

.c-align-center {
  text-align: center;
}
.c-align-right {
  text-align: right;
}

.c-border-none {
  border: none;
}

.register-page {
  position: fixed;
  top: 50;
  left: 50;
}

.panel-box {
  border-radius: 10px;
}

.red-border {
  border: 1px solid red;
}

.error-container {
  display: block;
}
.large-input {
  width: 45%;
}

.input-error {
  font-size: 12px;
  color: red;
}